.Container {
  display: flex;
  flex-wrap: wrap;
  background-color: #eff1f5;
}
.Card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 62px;
  transition: all 0.3s;
  background-color: rgb(131, 158, 182);
  margin: 10px;
  border-radius: 14px;
}
.Card :hover {
  transform: scale(103%, 103%);
  transition: all 0.5s;
}
.Card1 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.Text {
  justify-content: start;
  margin-left: 5px;
}
.p {
  margin-bottom: 4px;
}
.Text1 {
  text-align: center;
  display: flex;
}
.Image {
  margin: 5px 5px 5px 5px;
  width: 350px;
  height: 220px;
  border-radius: 5%;
}
.Button {
  width: 100px;
  height: 50px;
  background-color: #9baec2;
  color: black;
  border-radius: 20px;
  border: none;
  margin-left: 140px;
}

.Button:hover {
  background-color: #7485a3;
  color: white;
}
